RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^([^\.]+)$ $1.php [NC,L]

#This is for the 404 error page

ErrorDocument 404 http://localhost/belwet/firstbelwet/v2/dav/404
