.primarycolor {
    color: #87ceeb;
}

.primarycolorbg {
    background-color: #87ceeb;
}

.btn-primarycolorbg {
    background-color: #00003d !important;
    color: #ffffff !important;
}


.secondarycolor {
    color: #00003d;
}

.secondarycolorbg {
    background-color: #00003d;
}